<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <venchiarutti>
            <custom_new_products>
                <enabled>0</enabled>
                <max_products_qty>8</max_products_qty>
            </custom_new_products>
        </venchiarutti>
    </default>
</config>
